body{
    background-color:white;
}
 div.articleContainer img.articleImage{
    width:50%;
    height:50%;
    margin-left:10%;
    margin-bottom:2%;
    flex:left;
}
div.articleContainer{ /* Needs to be adapted to mobile form factor*/
    background-color:rgb(253, 189, 71);
    width:50%;
    border-bottom:solid;
    border-width:5px;
    border-color:#111111;
    border-left:solid;
    margin-left:10px;

}
p.descriptiontext{
    font-family:verdana;
    font-size:100px;
    color:white;
}
div.articleCointainer p.authorName{
    font-family:verdana;
    opacity:0.8;
    color:black;
}
div.articleContainer h2.title{
    font-family:"Arial Black";
    font-size:20px;
    color:#111111;
    margin:10px;
    margin-top:20px;
    text-decoration:underline #111111;
    text-decoration-thickness:3px;
}
div.articleContainer.span{
    display:inline-block;
    flex:left;
}
h1.title{
    font-family:"Arial Black";
    font-size:30px;
    font-weight:800px;
    color:#2e2e2e;
    font-style:bold;
    text-decoration:underline #111111;
    text-decoration-thickness:3px;
    padding-bottom:40px;
}
ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%;
    display:block;
    background-color: white;
    position: fixed;
    border-style:solid;
    border-width:1px;
    border-color:black;
  }

ul.sidenav li a {
    display: inline-block;
    padding: 16px 20px;
    text-decoration: none;
    font-family:Arial;
    color:#111111;

}
ul.sidenav a{
   padding: 20px 20px;
}

ul.sidenav li{
    display:block;
}
ul.sidenav li:hover:not(.active) {
    background-color: rgb(241, 195, 109);
  }
ul.sidenav li.active{
    background-color:orange;
}
div.content{
    margin-left:  15%;
    padding:10px 40px;
    height: 1000px;
}
img.sitelogo{
    size: 50px 50px;
    flex:left;
}

@media screen and (max-width: 900px) {
    ul.sidenav{
      width: 100%;
      height: auto;
      position: relative;
    }
    ul.sidenav li a{
        float:left;
        padding:15px;
    }
    div.content{margin-left:0;}
}
@media screen and (max-width: 400px) {
    ul.sidenav li a{
      text-align: center;
      float: none;
    }
  }

