div.articleContainer{ /* Needs to be adapted to mobile form factor*/
    background-color:orange;
    width:40%;
    height:300px;
    border-bottom:solid;
    border-width:5px;
    border-color:rgb(103, 82, 44);
    border-right:solid 5px rgb(103, 82, 44);
    margin-left:10px;
    padding-bottom: 15px;

}
div.articleContainer p.authorName{
    font-family:verdana;
    opacity:0.8;
    color:black;
}

div.articleContainer h2.title{
    font-family:"Arial Black";
    font-size:12px;
    color:#111111;
}
div.articleContainer.span{
    display:inline-block;
    flex:left;
}